<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Witaj</title>
</head>
<body>
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Produkt</h1>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-5">

            <img th:attr="src=@{/resources/static/images/${product.name}.jpg}" class="img-responsive" alt="image"
                 style="width:100%"/>
        </div>
        <div class="col-md-5">
            <h3 th:text="${product.name}"></h3>
            <p th:text="${product.description}"></p>
            <p>
                <strong>Kod produktu: </strong><span class="label label-warning" th:text="${product.productId}"></span>
            </p>
            <p>
                <strong>Producent:</strong> <span th:text="${product.manufacturer}"></span>
            </p>
            <p>
                <strong>Kategoria:</strong>
                <span th:text="${product.category}"></span>
            </p>
            <p>
                <strong>Dostępna liczba sztuk:</strong><span th:text="${product.unitsInStock}"></span>
            </p>
            <p>
                <strong>Cena:</strong>
                <span th:text="${product.unitPrice}"></span>
                <strong>PLN</strong>
            </p>
            <p>
                <a href="#" class="btn btn-warning btn-large">
                    <span class="glyphicon-shopping-cart glyphicon"></span>
                    Zamów teraz
                </a>
                <a th:href="@{/products}" class="btn btn-warning btn-large">
                    <span class="glyphicon-hand-left glyphicon"></span>
                    Powrót
                </a></p>
        </div>
    </div>
</section>
</body>
</html>