<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Witaj</title>
</head>
<body>
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Produkty</h1>
            <p>Wszystkie produkty dostępne w naszym sklepie</p>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3" style="padding-bottom: 15px" th:each="product : ${products}">
            <div class="thumbnail" >
                <div class="caption" >
                    <h3 th:text="${product.name}"></h3>
                    <p th:text="${product.description}"></p>
                    <p th:text="${product.unitPrice}"></p>
                    <p>PLN</p>
                    <p>Liczba sztuk w magazynie:</p>
                    <p th:text="${product.unitsInStock}"></p>
                    <p>
                        <a th:href="@{/product(id=${product.productId})}" class="btn btn-warning btn-large">
                            <span class="glyphicon-shopping-cart glyphicon"></span>
                            Szczegóły
                        </a>
                    </p>
                </div>
                </div>
            </div>
        </div>
</section>

</body>
</html>